@use '../../../../styles/index' as styles;


:host {
  display: block;
}

header {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.scrolled {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    a {
      color: styles.$color-primary;

      &:hover {
        color: rgb(188, 239, 164);
      }
    }

    .btn-primary {
      color: white;
    }
  }

  &:not(.scrolled) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;

    .logo-text {
      color: white;
    }

    nav ul li a {
      color: white;

      &:hover {
        color: styles.$color-secondary;
      }
    }

    .mobile-button {
      color: rgb(239, 239, 239);
    }
  }

  nav {
    position: relative;
    z-index: 20;
  }

  // Animación para el menú móvil
  .mobile-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    &.open {
      max-height: 500px;
    }
  }

  img:hover {
    scale: 1.05;
    transition: scale 0.3s ease-in-out;
  }
}

// Animación del botón de área cliente
.btn-primary {
  svg {
    transition: transform 0.3s ease;
  }

  &:hover {
    color: rgb(188, 239, 164);

    svg {
      transform: translateX(5px);
    }
  }
}